body {
  font: 16px helvetica,arial,freesans,clean,sans-serif;
  font-weight: bold;
  line-height: 1.4em;
}
.octocat {
  float: left;
  margin: 10px;
  border-bottom: 1px solid lightgrey;
}
.octocat img {
    width: 400px;
    display: block;
    border: 1px solid lightgrey;
    border-radius: 3px;
    list-style: none;
}
.octodex {
  list-style: none;
}
.image-number:before{
  content: "#"
}
.image-footer:before{
  display: block;
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10.0px 10px 0 10px;
    border-color: #e1e4e6 transparent transparent transparent;
    position: relative;
    top: 0;
    left: 377px;
}

.image-number{
  font-weight: bold;
  color: lightgrey;
}
.authors{
  float: right;
  list-style: none;
}
.image-caption{
  float:right;
  padding-bottom: 8px;
  font-weight: bold;
  color: lightgrey;
  vertical-align: middle;
}

.image-caption img{
  width: 28px;
  height: 28px;
}
.authors img{
  float:right;
  display: inline-block;

}
a: link{
  text-decoration: none;
  color: black;
}
a {
  color: black;
}
